#divMenu, ul, li, li li {

    margin: 0;

    padding: 0;
    position: relative;
    top:0px;

}

 

#divMenu {
    position: relative;
    top: 3vh;
    margin: auto;

    width: 250px;

    height: 27px;

}

 

#divMenu ul

{

     line-height: 25px;

}

 

    #divMenu li {

        list-style: none;

        position: relative;

        background: #FF6363;

    }

 

        #divMenu li li {

            list-style: none;

            position: relative;

            background: #FF6363;

            left: 248px;

            top: -27px;

        }

 

 

    #divMenu ul li a {

        width: 248px;

        height: 30px;

        display: block;

        text-decoration: none;

        text-align: center;

        font-family: Georgia,'Times New Roman',serif;

        color:#ffffff;

        border:1px solid #eee;

    }

 

    #divMenu ul ul {

        position: absolute;

        visibility: hidden;

        top: 27px;

    }

 

    #divMenu ul li:hover ul {

        visibility: visible;

    }

 

    #divMenu li:hover {

        background-color: #1c95ac;

    }

 

    #divMenu ul li:hover ul li a:hover {

        background-color: #1c95ac;

    }

 

    #divMenu a:hover {

        font-weight: bold;

    }