@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


.contact-cards {
  margin: auto;
}
.contact-cards::after {
  content: '';
  display: block;
}
.contact-cards h1 {
  text-align: center;
}

.contact-card {
  background-color: #FF6363;
  width: 100%;
  max-width: 268px;
  height: 240px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 0 blue;
          box-shadow: 0 0 0 0 blue;
  -webkit-transition: all 0.667s ease;
  transition: all 0.667s ease;
}
.contact-card .image-container {
  padding: 15px;
}
.contact-card .image-container img.profile-image {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
}
.contact-card .lower-content {
  position: relative;
  top: 0;
  height: 240px;
  background-color: white;
  padding: 10px;
  -webkit-transition: all 0.667s ease;
  transition: all 0.667s ease;
  text-align: center;
}
.contact-card .lower-content .basic-info h4 {
  margin: 0;
  font-size: 18px;
}
.contact-card .lower-content .contact-information {
  margin-top: 175px;
  -webkit-transition: all 0.667s ease;
  transition: all 0.667s ease;
}
.contact-card .lower-content .contact-information .contact-method {
  margin: 0;
  padding: 10px;
  border-bottom: solid 1px #dbdbdb;
}
.contact-card .lower-content .contact-information .contact-method label {
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}
.contact-card:hover {
  -webkit-box-shadow: 0 0 5px 2px #ff8762;
          box-shadow: 0 0 5px 2px #ff8762;
}
.contact-card:hover .lower-content {
  top: -180px;
}
.contact-card:hover .lower-content .contact-information {
  margin-top: 15px;
}

.contact-card {
  float: left;
  margin: 10px 20px;
}
